@model ProjectManagement.Models.ProjectTask

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Start
        </dt>
        <dd class="col-sm-10">
            @Model.StartDate.ToString("d")
        </dd>
        <dt class="col-sm-2">
            End
        </dt>
        <dd class="col-sm-10">
            @Model.EndDate.ToString("d")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Result != null)
            {
                @Html.DisplayFor(model => model.Result)
            }
            else
            {
                <p class="font-italic">Currently no results</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-box-arrow-left mr-2"></i>Back</a>
</div>
