@model ProjectManagement.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Html.DisplayFor(model => model.Name)</h1>
<hr />

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true"><i class="bi bi-journal mr-2"></i>Overview</a>
        <a class="nav-link" id="nav-team-tab" data-bs-toggle="tab" data-bs-target="#nav-team" type="button" role="tab" aria-controls="nav-team" aria-selected="false"><i class="bi bi-people-fill mr-2"></i>Team</a>
        <a class="nav-link" id="nav-task-tab" data-bs-toggle="tab" data-bs-target="#nav-task" type="button" role="tab" aria-controls="nav-task" aria-selected="false"><i class="bi bi-card-checklist mr-2"></i>Tasks</a>
        <a class="nav-link" id="nav-risk-tab" data-bs-toggle="tab" data-bs-target="#nav-risk" type="button" role="tab" aria-controls="nav-risk" aria-selected="false"><i class="bi bi-exclamation-diamond-fill mr-2"></i>Risk</a>
        <a class="nav-link" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment" aria-selected="false"><i class="bi bi-chat-right-text-fill mr-2"></i>Comments</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <div class="row" style="margin:15px;">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Project Details</h5>
                        <table class="table table-bordered table-responsive">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th>Description</th>
                                    <td>@Html.DisplayFor(model => model.Description)</td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td>@Model.StartDate.ToString("d")</td>
                                </tr>
                                <tr>
                                    <th>End Date</th>
                                    <td>@Model.EndDate.ToString("d")</td>
                                </tr>
                                <tr>
                                    <th>Total Budget</th>
                                    <td>@Html.DisplayFor(model => model.TotalBudget)&nbsp;$</td>
                                </tr>
                                <tr>
                                    <th>Project Scope</th>
                                    <td>@Html.DisplayFor(model => model.ProjectScope)</td>
                                </tr>
                                <tr>
                                    <th>Sponsor</th>
                                    <td>@Html.DisplayFor(model => model.Sponsor)</td>
                                </tr>
                                <tr>
                                    <th>Stakeholders</th>
                                    <td>@Html.DisplayFor(model => model.Stakeholders)</td>
                                </tr>
                                <tr>
                                    <th>Manager</th>
                                    <td>
                                        @if (ViewBag.ManagerPicture != null)
                                        {
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="data:image/*;base64,@(Convert.ToBase64String(ViewBag.ManagerPicture))" alt="avatar" width="40"
                                                 height="40" />
                                        }
                                        else
                                        {
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                 src="~/defaultProfilePicture.png" alt="avatar" width="40"
                                                 height="40" />
                                        }
                                        @ViewBag.ManagerFirstName &nbsp;@ViewBag.ManagerLastName
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        @if (ViewBag.UserId == ViewBag.ManagerId)
                        {
                            <a asp-action="Edit" asp-route-id="@Model?.ProjectId" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Edit</a>
                        }
                    </div>
                </div>
                <!--Results-->
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Results</h5>
                        @if (string.IsNullOrEmpty(Model.Results))
                        {
                            <p>No Results</p>
                        }
                        else
                        {
                            <p>@Model.Results</p>
                        }
                        @if (ViewBag.UserId == ViewBag.ManagerId)
                        {
                            <div class="form-group mt-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateResultsModal"><i class="bi bi-pencil-fill mr-2"></i>Update</button>
                            </div>
                        }

                    </div>
                </div>

                <!-- Modal Results-->
                <div class="modal fade" id="updateResultsModal" tabindex="-1" role="dialog" aria-labelledby="updateResultsModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateResultsModalLabel">Update Results</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("UpdateResults", "Projects"))
                                {
                                    @Html.Hidden("projectId", Model.ProjectId)
                                    <div class="form-group">
                                        @Html.TextArea("results", Model.Results, new { @class = "form-control" })
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-save2 mr-2"></i>Save</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Goals</h5>
                        <!-- Goals Table -->
                        <ul class="list-group mt-3">
                            @if (Model.Goals != null)
                            {
                                @foreach (var goal in Model.Goals)
                                {
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">@goal.Name</span>
                                    </li>
                                }
                            }
                            else
                            {
                                <p>Currently no goals</p>
                            }
                        </ul>
                        @if (ViewBag.UserId == ViewBag.ManagerId)
                        {
                            <div class="form-group mt-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGoalModal"><i class="bi bi-pencil-fill mr-2"></i>Add Goal</button>
                            </div>
                        }

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="addGoalModal" tabindex="-1" role="dialog" aria-labelledby="addGoalModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addGoalModalLabel">Add Goal</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("CreateGoal", "Projects"))
                                {
                                    @Html.Hidden("projectId", Model.ProjectId)
                                    <div class="form-group">
                                        @Html.TextArea("name", null, new { @class = "form-control", @required = "required", placeholder = "Write new goal here" })
                                        @Html.ValidationMessage("name", "", new { @class = "text-danger" })
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Milestones</h5>
                        <!-- Milestones Table -->
                        <ul class="list-group mt-3">
                            @if (Model.Milestones != null)
                            {
                                @foreach (var milestone in Model.Milestones)
                                {
                                    <li class="list-group-item">
                                        <span class="font-weight-bold">@milestone.Name</span>
                                        <span class="float-right">@milestone.Date.ToShortDateString()</span>
                                    </li>
                                }
                            }
                            else
                            {
                                <p>Currently no milestones</p>
                            }
                        </ul>
                        @if (ViewBag.UserId == ViewBag.ManagerId)
                        {
                            <div class="form-group mt-3">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMilestoneModal"><i class="bi bi-pencil-fill mr-2"></i>Add Milestone</button>
                            </div>
                        }

                    </div>

                </div>
                <!-- Modal Milestones-->
                <div class="modal fade" id="addMilestoneModal" tabindex="-1" role="dialog" aria-labelledby="addMilestoneModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addMilestoneModalLabel">Add Milestone</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("CreateMilestone", "Projects"))
                                {
                                    @Html.Hidden("projectId", Model.ProjectId)
                                    <div class="form-group">
                                        @Html.TextArea("name", null, new { @class = "form-control", @required = "required", placeholder = "Write new milestone here" })
                                        @Html.ValidationMessage("name", "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBox("date", null, new { @class = "form-control datepicker", @required = "required", placeholder = "Select milestone date",@type = "date" })
                                        @Html.ValidationMessage("date", "", new { @class = "text-danger" })
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Add</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-box-arrow-left mr-2"></i>Back</a>
                @if (ViewBag.UserId == ViewBag.ManagerId)
                {
                    <a asp-action="Delete" asp-route-id="@Model?.ProjectId" class="btn btn-danger"><i class="bi bi-trash-fill mr-2"></i>Delete</a>
                    <a asp-action="ChangeStatus" asp-route-id="@Model.ProjectId" class="btn btn-success" style="margin:15px;"><i class="bi bi-check-lg mr-2"></i>Mark as Done</a>
                }

            </div>
        </div>
    </div>





    <div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
        <!--Team-->
        <div>
            <div style="margin:15px;">
                <h3>Add user to project:</h3>
                @using (Html.BeginForm("AddUserToProject", "Projects", FormMethod.Post))
                {
                    @Html.Hidden("projectId", Model.ProjectId)

                    <select name="userId" class="select2" style="width:50%;" required>
                        <option value="" selected disabled>Select user</option>
                        @foreach (var user in ViewBag.Users)
                        {
                            <option value="@user.Id">@user.UserName</option>
                        }
                    </select>

                    <button class="btn btn-primary" type="submit"><i class="bi bi-person-fill-add mr-2"></i>Add</button>
                }
            </div>
            <div class="card" style="padding:15px;">
                <h2>Team</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                User
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Total Time
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var projectUser in Model.ProjectUsers)
                        {
                            var user = projectUser.User;
                            <tr>
                                <td>
                                    @if (user.Picture != null)
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="data:image/*;base64,@(Convert.ToBase64String(user.Picture))" alt="avatar" width="40"
                                             height="40" />
                                    }
                                    else
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="~/defaultProfilePicture.png" alt="avatar" width="40"
                                             height="40" />
                                    }
                                    @user.FirstName &nbsp;@user.LastName
                                </td>
                                <td>
                                    @user.UserName
                                </td>
                                <td>
                                    @user.TotalTime
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-task" role="tabpanel" aria-labelledby="nav-task-tab">
        <!--Tasks-->
        <a asp-controller="ProjectTasks" asp-action="Create" asp-route-projectId="@Model.ProjectId"
           asp-route-projectName="@Model.Name" class="btn btn-primary" style="margin-bottom:15px;margin-top:15px;"><i class="bi bi-pencil-fill mr-2"></i>Create Task</a>

        <div class="row">
            <div class="col">
                <h2>Active</h2>
                @foreach (var item in ViewBag.Tasks)
                {
                    @if (item.Status == false)
                    {
                        <div class="card border-primary mb-3" style="width:100%;">
                            <div class="card-header">@item.Name</div>
                            <div class="card-body text-primary">
                                <p class="card-text">Description: @item.Description</p>
                                <p class="card-text">Time: @item.Time&nbsp;hour(s)</p>
                                <p class="card-text">Start Date: @item.StartDate.ToString("dd MMM yyyy")</p>
                                <p class="card-text">End Date: @item.EndDate.ToString("dd MMM yyyy")</p>
                                <p class="card-text">User: @item.User.UserName</p>

                                <a asp-controller="ProjectTasks" asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Edit</a>
                                <a asp-controller="ProjectTasks" asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-danger"><i class="bi bi-trash-fill mr-2"></i>Delete</a>

                            </div>
                        </div>
                    }

                }
            </div>
            <div class="col">
                <h2>Done</h2>
                @foreach (var item in ViewBag.Tasks)
                {
                    @if (item.Status == true)
                    {
                        <div class="card border-success mb-3" style="width:100%;">
                            <div class="card-header">@item.Name</div>
                            <div class="card-body text-success">
                                <p class="card-text">Description: @item.Description</p>
                                <p class="card-text">Time: @item.Time&nbsp;hour(s)</p>
                                <p class="card-text">Start Date: @item.StartDate.ToString("dd MMM yyyy")</p>
                                <p class="card-text">End Date: @item.EndDate.ToString("dd MMM yyyy")</p>
                                <p class="card-text">User: @item.User.UserName</p>

                                <a asp-controller="ProjectTasks" asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Edit</a>
                                <a asp-controller="ProjectTasks" asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-danger"><i class="bi bi-trash-fill mr-2"></i>Delete</a>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-risk" role="tabpanel" aria-labelledby="nav-risk-tab">
        <!--Risk-->
        <a asp-controller="Risks" asp-action="Create" asp-route-projectId="@Model.ProjectId"
           asp-route-projectName="@Model.Name" class="btn btn-primary" style="margin-bottom:15px;margin-top:15px;"><i class="bi bi-pencil-fill mr-2"></i>Create Risk</a>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Probability
                    </th>
                    <th>
                        Influence
                    </th>
                    <th>
                        Reaction
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Risks)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Probability
                        </td>
                        <td>
                            @item.Influence
                        </td>
                        <td>
                            @item.Reaction
                        </td>
                        <td>
                            <a asp-controller="Risks" asp-action="Edit" asp-route-id="@item.RiskId" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Edit</a> |
                            <a asp-controller="Risks" asp-action="Details" asp-route-id="@item.RiskId" class="btn btn-primary"><i class="bi bi-sign-intersection-fill mr-2"></i>Details</a> |
                            <a asp-controller="Risks" asp-action="Delete" asp-route-id="@item.RiskId" class="btn btn-warning"><i class="bi bi-trash-fill mr-2"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
        <!--Comment cards-->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="" style="width:100%;">
                    <div class="card-body py-3 border-0">
                        @using (Html.BeginForm("AddComment", "Projects"))
                        {
                            @Html.Hidden("projectId", Model.ProjectId)

                            <div class="form-group">
                                @Html.TextArea("commentText", null, new { @class = "form-control", @required = "required" ,placeholder = "Write your comment here"})
                                @Html.ValidationMessage("commentText", "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="bi bi-send-fill mr-2"></i>Comment</button>
                        }
                    </div>

                    @foreach (var item in ViewBag.Comments)
                    {
                        <div class="card" style="margin-bottom:15px;">
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    @if (item.User.Picture != null)
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="data:image/*;base64,@(Convert.ToBase64String(item.User.Picture))" alt="avatar" width="60"
                                             height="60" />
                                    }
                                    else
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="~/defaultProfilePicture.png" alt="avatar" width="60"
                                             height="60" />
                                    }
                                    <div>
                                        <h6 class="fw-bold text-primary mb-1">@item.User.UserName</h6>
                                        <p class="text-muted small mb-0">
                                            @item.CreateDate
                                        </p>
                                    </div>
                                </div>

                                <p class="mt-3 mb-4 pb-2">
                                    @item.Content
                                </p>
                                @if (item.UserId == ViewBag.UserId)
                                {
                                    <div>
                                        @using (Html.BeginForm("DeleteComment", "Projects", new { commentId = item.CommentId }, FormMethod.Post))
                                        {
                                            @Html.Hidden("projectId", Model.ProjectId)

                                            <button type="submit" class="btn btn-primary"><i class="bi bi-trash-fill mr-2"></i>Delete</button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>

    <script>
        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            var activeTab = $(event.target).attr('aria-controls');
            localStorage.setItem('activeTab', activeTab);
        });

        $(document).ready(function () {
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('.nav-tabs a').removeClass('active').attr('aria-selected', 'false');
                $('#' + activeTab + '-tab').addClass('active').attr('aria-selected', 'true');
                $('.tab-pane').removeClass('show active');
                $('#' + activeTab).addClass('show active');
            }
        });
    </script>

}

