@model ProjectManagement.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Html.DisplayFor(model => model.Name)</h1>
<hr />

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-overview-tab" data-bs-toggle="tab" data-bs-target="#nav-overview" type="button" role="tab" aria-controls="nav-overview" aria-selected="true"><i class="bi bi-journal mr-2"></i>Overview</a>
        <a class="nav-link" id="nav-team-tab" data-bs-toggle="tab" data-bs-target="#nav-team" type="button" role="tab" aria-controls="nav-team" aria-selected="false"><i class="bi bi-people-fill mr-2"></i>Team</a>
        <a class="nav-link" id="nav-task-tab" data-bs-toggle="tab" data-bs-target="#nav-task" type="button" role="tab" aria-controls="nav-task" aria-selected="false"><i class="bi bi-card-checklist mr-2"></i>Tasks</a>
        <a class="nav-link" id="nav-risk-tab" data-bs-toggle="tab" data-bs-target="#nav-risk" type="button" role="tab" aria-controls="nav-risk" aria-selected="false"><i class="bi bi-exclamation-diamond-fill mr-2"></i>Risk</a>
        <a class="nav-link" id="nav-comment-tab" data-bs-toggle="tab" data-bs-target="#nav-comment" type="button" role="tab" aria-controls="nav-comment" aria-selected="false"><i class="bi bi-chat-right-text-fill mr-2"></i>Comments</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalBudget)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalBudget)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProjectScope)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProjectScope)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sponsor)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sponsor)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stakeholders)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stakeholders)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Results)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Results)
            </dd>
        </dl>

        <!--Goals-->
        <div>
            @using (Html.BeginForm("CreateGoal", "Projects"))
            {
                @Html.Hidden("projectId", Model.ProjectId)

                <div class="form-group">
                    @Html.TextArea("name", null, new { @class = "form-control", @required = "required" ,placeholder = "Write new goal here"})
                    @Html.ValidationMessage("name", "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            }
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Goal
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Goals)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <!--Milestones-->
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Milestone
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Milestones != null)
                {
                    @foreach (var item in Model.Milestones)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Date
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>
                            No Milestones
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.ProjectId" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Edit</a> |
            <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-box-arrow-left mr-2"></i>Back</a> |
            <a asp-action="Delete" asp-route-id="@Model?.ProjectId" class="btn btn-danger"><i class="bi bi-trash-fill mr-2"></i>Delete</a> |
            <a asp-action="ChangeStatus" asp-route-id="@Model.ProjectId" class="btn btn-success" style="margin:15px;"><i class="bi bi-check-lg mr-2"></i>Mark as Done</a>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-team" role="tabpanel" aria-labelledby="nav-team-tab">
        <!--Team-->
        <div>
            <div style="margin:15px;">
                <h3>Add user to project:</h3>
                @using (Html.BeginForm("AddUserToProject", "Projects", FormMethod.Post))
                {
                    @Html.Hidden("projectId", Model.ProjectId)

                    <select name="userId" class="select2" style="width:50%;" required>
                        <option value="" selected disabled>Select user</option>
                        @foreach (var user in ViewBag.Users)
                        {
                            <option value="@user.Id">@user.UserName</option>
                        }
                    </select>

                    <button class="btn btn-primary" type="submit"><i class="bi bi-person-fill-add mr-2"></i>Add</button>
                }
            </div>
            <div class="card" style="padding:15px;">
                <h2>Team</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                User
                            </th>
                            <th>
                                User Name
                            </th>
                            <th>
                                Total Time
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>
                                    @if (user.Picture != null)
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="data:image/*;base64,@(Convert.ToBase64String(user.Picture))" alt="avatar" width="40"
                                             height="40" />
                                    }
                                    else
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="~/defaultProfilePicture.png" alt="avatar" width="40"
                                             height="40" />
                                    }
                                    @user.FirstName &nbsp;@user.LastName
                                </td>
                                <td>
                                    @user.UserName
                                </td>
                                <td>
                                    @user.TotalTime
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-task" role="tabpanel" aria-labelledby="nav-task-tab">
        <!--Tasks-->
        <a asp-controller="ProjectTasks" asp-action="Create" asp-route-projectId="@Model.ProjectId"
           asp-route-projectName="@Model.Name" class="btn btn-primary" style="margin-bottom:15px;margin-top:15px;"><i class="bi bi-pencil-fill mr-2"></i>Create Task</a>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        End
                    </th>
                    <th>
                        User
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Tasks)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Time
                        </td>
                        <td>
                            @item.StartDate.ToString("dd MMM yyyy")
                        </td>
                        <td>
                            @item.EndDate.ToString("dd MMM yyyy")
                        </td>
                        <td>
                            @item.User.UserName
                        </td>
                        <td>
                            <a asp-controller="ProjectTasks" asp-action="Edit" asp-route-id="@item.TaskId" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Edit</a> |
                            <a asp-controller="ProjectTasks" asp-action="Delete" asp-route-id="@item.TaskId" class="btn btn-warning"><i class="bi bi-trash-fill mr-2"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-risk" role="tabpanel" aria-labelledby="nav-risk-tab">
        <!--Risk-->
        <a asp-controller="Risks" asp-action="Create" asp-route-projectId="@Model.ProjectId"
           asp-route-projectName="@Model.Name" class="btn btn-primary" style="margin-bottom:15px;margin-top:15px;"><i class="bi bi-pencil-fill mr-2"></i>Create Risk</a>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Probability
                    </th>
                    <th>
                        Influence
                    </th>
                    <th>
                        Reaction
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Risks)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Probability
                        </td>
                        <td>
                            @item.Influence
                        </td>
                        <td>
                            @item.Reaction
                        </td>
                        <td>
                            <a asp-controller="Risks" asp-action="Edit" asp-route-id="@item.RiskId" class="btn btn-primary"><i class="bi bi-pencil-fill mr-2"></i>Edit</a> |
                            <a asp-controller="Risks" asp-action="Details" asp-route-id="@item.RiskId" class="btn btn-primary"><i class="bi bi-sign-intersection-fill mr-2"></i>Details</a> |
                            <a asp-controller="Risks" asp-action="Delete" asp-route-id="@item.RiskId" class="btn btn-warning"><i class="bi bi-trash-fill mr-2"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
        <!--Comment cards-->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="" style="width:100%;">
                    <div class="card-body py-3 border-0">
                        @using (Html.BeginForm("AddComment", "Projects"))
                        {
                            @Html.Hidden("projectId", Model.ProjectId)

                            <div class="form-group">
                                @Html.TextArea("commentText", null, new { @class = "form-control", @required = "required" ,placeholder = "Write your comment here"})
                                @Html.ValidationMessage("commentText", "", new { @class = "text-danger" })
                            </div>

                            <button type="submit" class="btn btn-primary"><i class="bi bi-send-fill mr-2"></i>Comment</button>
                        }
                    </div>

                    @foreach (var item in ViewBag.Comments)
                    {
                        <div class="card" style="margin-bottom:15px;">
                            <div class="card-body">
                                <div class="d-flex flex-start align-items-center">
                                    @if (item.User.Picture != null)
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="data:image/*;base64,@(Convert.ToBase64String(item.User.Picture))" alt="avatar" width="60"
                                             height="60" />
                                    }
                                    else
                                    {
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="~/defaultProfilePicture.png" alt="avatar" width="60"
                                             height="60" />
                                    }
                                    <div>
                                        <h6 class="fw-bold text-primary mb-1">@item.User.UserName</h6>
                                        <p class="text-muted small mb-0">
                                            @item.CreateDate
                                        </p>
                                    </div>
                                </div>

                                <p class="mt-3 mb-4 pb-2">
                                    @item.Content
                                </p>
                                @if (item.UserId == ViewBag.UserId)
                                {
                                    <div>
                                        @using (Html.BeginForm("DeleteComment", "Projects", new { commentId = item.CommentId }, FormMethod.Post))
                                        {
                                            @Html.Hidden("projectId", Model.ProjectId)

                                            <button type="submit" class="btn btn-primary"><i class="bi bi-trash-fill mr-2"></i>Delete</button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>

    <script>
        $('.nav-tabs a').on('shown.bs.tab', function (event) {
            var activeTab = $(event.target).attr('aria-controls');
            localStorage.setItem('activeTab', activeTab);
        });

        $(document).ready(function () {
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('.nav-tabs a').removeClass('active').attr('aria-selected', 'false');
                $('#' + activeTab + '-tab').addClass('active').attr('aria-selected', 'true');
                $('.tab-pane').removeClass('show active');
                $('#' + activeTab).addClass('show active');
            }
        });
    </script>

}

