@model ProjectManagement.Models.Project

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <!--Tasks-->
    <a asp-controller="ProjectTasks" asp-action="Create">Create Task</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Project
                </th>
                <th>
                    User Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Tasks)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.EndDate
                    </td>
                    <td>
                        @item.Project.Name
                    </td>
                    <td>
                        @item.User.UserName
                    </td>
                    <td>
                        <a asp-controller="ProjectTasks" asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                        <a asp-controller="ProjectTasks" asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                        <a asp-controller="ProjectTasks" asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!--Risk-->
    <a asp-controller="Risks" asp-action="Create">Create Risk</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Probability
                </th>
                <th>
                    Influence
                </th>
                <th>
                    Reaction
                </th>
                <th>
                    ProjectId
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Risks)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Influence
                    </td>
                    <td>
                        @item.Influence
                    </td>
                    <td>
                        @item.Reaction
                    </td>
                    <td>
                        @item.ProjectId
                    </td>
                    <td>
                        <a asp-controller="Risks" asp-action="Edit" asp-route-id="@item.RiskId">Edit</a> |
                        <a asp-controller="Risks" asp-action="Details" asp-route-id="@item.RiskId">Details</a> |
                        <a asp-controller="Risks" asp-action="Delete" asp-route-id="@item.RiskId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!--Comment cards-->
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="" style="width:100%;">
                @foreach (var item in ViewBag.Comments)
                {
                    <div class="card" style="margin-bottom:15px;">
                        <div class="card-body">
                            <div class="d-flex flex-start align-items-center">
                                <!--
                                <img class="rounded-circle shadow-1-strong me-3"
                                                                    src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="60"
                                                                    height="60" />
                                -->

                                <div>
                                    <h6 class="fw-bold text-primary mb-1">@item.User.UserName</h6>
                                    <p class="text-muted small mb-0">
                                        @item.CreateDate
                                    </p>
                                </div>
                            </div>

                            <p class="mt-3 mb-4 pb-2">
                                @item.Content
                            </p>
                        </div>
                    </div>
                }

                <div class="card-body py-3 border-0" style="background-color: lightgray;">
                    @using (Html.BeginForm("AddComment", "Projects"))
                    {
                        @Html.Hidden("projectId", Model.ProjectId)

                        <div class="form-group">
                            @Html.Label("commentText", "Komentarz")
                            @Html.TextArea("commentText", null, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessage("commentText", "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
                    }
                </div>

            </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

